.header > .header__headerNav > .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  margin: 0;
  padding: 20px;
  background: #999;
}

.menu__listItem {
  list-style-type: none;
}

.menu__listLink {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #890101;
  font-weight: 700;
  text-decoration: none;
}
